.actionbar {
    background-color: #f0f0f0;
    width: 100%;
    height: 2em;
    line-height: 2em;
    border-bottom: 1px solid black;
}

.actionbar div {
    display: inline-block;
}

.actionbar div:hover {
    cursor: pointer;
    color:red;
    transition-duration: 0.3s;
}

.actionbar > div {
    padding-left:1em;
    padding-right:1em;
}

.actionbar_icon {
    padding-right:0.5em;
}

.reload {
    position: absolute;
    right:0;
}